.girdcontainer {
    display: grid;
    grid-template-areas:
        "header header"
        "interface interface"
        "features features"
        "row1 row1"
        "row2 row2"
        "title ."
        "box1 box2"
        "footer footer"
    ;
    gap: 15px;
}

header {
    grid-area: header;
}

.features {
    grid-area: features;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "one two three";
    margin: 20px auto;
    width: 100%;
}

.interface {
    grid-area: interface;
}

.row1 {
    grid-area: row1;
}

.row2 {
    grid-area: row2;
}

.feedback .title {
    grid-area: title;
}

.feedback .box1 {
    grid-area: box1;
}

.feedback .box2 {
    grid-area: box2;
}

footer {
    grid-area: footer;
}

header {
    display: flex;
    justify-content: center;
    gap: 33%;
    margin: 0 70px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    /* width: 85%; */
}

header h2 {
    /* justify-self: left; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 18px; */
    color: #898383;
}

header ul {
    /* justify-self: center; */
    display: flex;
    gap: 25%;
    justify-content: center;
}

header ul li {
    list-style: none;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

header ul a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #898383;
    font-size: 17px;
    font-weight: 550;
}

header ul li:hover {
    /* text-decoration: underline; */
    transform: scale(1.05);
    box-shadow: inset 1px 0px 10px 4px rgba(235, 68, 68, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

header ul a:hover {
    color: white;
    padding: 5px;
}

header .images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.images img {
    width: 100%;
    max-height: 25px;
}

.interface {
    max-height: 500px;
    overflow: hidden;
}

.interface img {
    position: relative;
    width: 100%;
    top: -40%;
}

.features .one,
.two,
.three {
    grid-area: one;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    align-items: self-start;
    gap: 10px;
    margin: 0 auto;
    width: 50%;
}

.features .two {
    grid-area: two;
}

.features .three {
    grid-area: three;
}

.features h3 {
    margin: 0;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.features p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: #898383;
    margin-top: 12px;
}

.features #medal {
    width: 20%;
    position: relative;
    top: -8px;
    margin-right: 10px;
}

.features #fast {
    width: 12%;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.features #v {
    width: 60%;
    position: relative;
    top: -5px;
    margin-right: 10px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.row1 .forniture2 {
    flex: 1 1;
    max-height: 600px;
    align-self: center;
    align-content: center;
    position: relative;
    right: -120px;
}

.row1 .forniture2 img {
    width: 70%;
    height: 500px;
}

.row1 .first {
    position: relative;
    top: -20px;
    flex: 1 1;
    justify-self: right;
}

.row1 .first h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.row1 .first p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 85%;
    line-height: 25px;
    font-weight: 550;
    color: #898383;
}

.row1 .first .info {
    display: flex;
    gap: 60px;
    align-items: center;
}

.row1 .info .value {
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #1e4f4f;
}

.row1 .info .value:hover {
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0px 0px 10px rgba(183, 87, 87, 0.5);
    text-align: center;
}

.row1 a {
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
    padding: 15px 20px;
    bottom: -15px;
}

.row1 #more:hover {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4) inset;
    animation: border-color 2s linear infinite, border-move 2s linear infinite;
    font-size: 20px;
}

@keyframes border-color {
    from {
        border-color: rgba(255, 0, 0, 0.4);
    }

    to {
        border-color: rgba(255, 255, 0, 0.4);
    }
}

@keyframes border-move {
    0% {
        box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.4) inset;
        transform: translate(0, 0);
    }

    25% {
        box-shadow: 0 0 0 4px rgba(255, 255, 0, 0.4) inset;
        transform: translate(10px, 0);
    }

    50% {
        box-shadow: 0 0 0 4px rgba(0, 255, 0, 0.4) inset;
        transform: translate(10px, 10px);
    }

    75% {
        box-shadow: 0 0 0 4px rgba(0, 255, 255, 0.4) inset;
        transform: translate(0, 10px);
    }

    100% {
        box-shadow: 0 0 0 4px rgba(255, 0, 255, 0.4) inset;
        transform: translate(0, 0);
    }
}

.row2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
}

.row2 .forniture3 {
    position: relative;
    max-height: 700px;
}

.row2 img {
    width: 100%;
    height: 700px;
}

.row2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.row2 .info .number {
    display: inline-block;
    border: 3px solid #1e4f4f;
    background: #1e4f4f;
    border-radius: 50%;
    padding: 15px;
    margin-right: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    align-items: center;
}

.row2 .info h2 {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.row2 .info h2:hover {
    text-decoration: underline;
    /* box-shadow: 0px 0px 10px rgba(183, 87, 87, 0.5); */
}

.row2 .info .content {
    position: relative;
    top: -20px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 550;
    color: #898383;
    width: 70%;
    margin-left: 80px;
}

.feedback {
    width: 75%;
    margin: 10px auto;
}

.feedback .boxes {
    display: flex;
    gap: 60px;
    color: #d7c9c9;
    margin-top: 60px;
}

.feedback h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    font-family: Arial, Helvetica, sans-serif;

}

.feedback .quote {
    font-size: 40px;
    margin-bottom: -10px;
    margin-top: 5px;
}

.feedback .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 750;
}

.feedback .box1,
.box2 {
    border: 3px solid #1e4f4f;
    background: #1e4f4f;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
}

.feedback .box1:hover,
.box2:hover {
    box-shadow: inset 1px 0px 10px 7px rgba(243, 207, 207, 0.5);
}

.feedback img {
    width: 10%;
}

.feedback .customer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    line-height: 5px;
    align-items: center;
    margin-top: 20px;
}

.feedback .data {
    padding-top: 6px;
}

.feedback .data .job {
    display: block;
    font-weight: 100;
    font-size: 13px;
    font-weight: 100;
}

.feedback .data .name {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

footer {
    background: #1e4f4f;
}

.social {
    width: 20%;
    margin: 100px auto 30px;
    white-space: nowrap;
    position: relative;
    right: -25px;
}

footer:hover {
    box-shadow: inset 1px 0px 10px 7px rgba(74, 140, 88, 0.5);
}

.social img {
    width: 20%;
}

.social img:hover {
    /* border: 3px solid #1e4f4f;
    background: white; */
    border-radius: 50%;
    box-shadow: 1px 0px 10px 5px rgba(156, 232, 172, 0.5);
}